<div class="friend-item-container">
  <div class="avatar-frame" [class.online]="friendRequest?.user?.online">
    <img
      [src]="
        friendRequest?.user?.avatar
          ? 'data:image/jpeg;base64,' + friendRequest?.user?.avatar
          : 'assets/images/Classic_Outfit.png'
      "
      alt=""
      class="avatar"
    />
  </div>
  <div class="username-container">{{ friendRequest?.user?.username }}</div>
  <div class="friend-control">
    <div class="request-control-button-cancel" (click)="cancel()"></div>
  </div>
</div>
