<div class="friend-item-container">
  <div class="avatar-frame" [class.online]="friendship?.friend?.online">
    <img
      [src]="
        friendship?.friend?.avatar
          ? 'data:image/jpeg;base64,' + friendship?.friend?.avatar
          : 'assets/images/Classic_Outfit.png'
      "
      alt=""
      class="avatar"
    />
  </div>
  <div class="username-container">{{ friendship?.friend?.username }}</div>
  <div class="friend-control">
    <div
      class="friend-control-button-unfriend"
      (click)="unfriend()"
      *ngIf="friendService.isFriend(friendship?.friend?.id); else notFriend"
    ></div>
    <ng-template #notFriend>
      <div
        class="friend-control-button-add"
        [class]="
          friendship?.type === 'TO' ? 'friend-control-button-add-clicked' : ''
        "
        (click)="addFriend($event)"
      ></div>
    </ng-template>
  </div>
</div>
<app-modal
  *ngIf="modalContent"
  [content]="modalContent"
  (yesEmitter)="doUnfriend($event)"
></app-modal>
