.avatar {
  width: 44px;
}

.avatar-frame {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: solid 1px grey;
  content-visibility: auto;
  margin-right: 10px;
}

.friend-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-bottom: 2px;
  cursor: default;
  user-select: none;
}

.friend-item-container:hover {
  background-color: rgb(200, 200, 200);
}

.friend-item-container-select {
  background-color: rgb(200, 200, 200);
}

.username-container {
  font-size: larger;
  font-weight: 500;
  font-family: unset;
}

.friend-control {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.friend-control-button-add {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/icons/plus-circle.svg");
}

.friend-control-button-add:hover {
  background-image: url("/assets/icons/plus-circle-fill.svg");
}

.friend-control-button-add-clicked {
  background-image: url("/assets/icons/plus-circle-fill.svg") !important;
}

.friend-control-button-unfriend {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/icons/dash-circle.svg");
}

.friend-control-button-unfriend:hover {
  background-image: url("/assets/icons/dash-circle-fill.svg");
}

.online {
  border: solid 3px rgb(100, 220, 100) !important;
}
