.chat-app-navbar {
  height: 98.5vh;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  padding-top: 5px;
  border: solid 1px;
  border-color: lightgray;
}

.chat-app-navbar-item {
  margin-bottom: 5px;
  padding: 2px;
}

.navbar-icon {
  width: 30px;
  height: 30px;
}

.active-navbar-item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 3px;
}

.avatar {
  height: 35px;
  width: 35px;
}

.avatar-frame {
  border: 1px;
  margin-bottom: 5px;
  border: solid rgba(150, 200, 30, 0.6);
  border-radius: 35px;
  content-visibility: auto;
}

.profile-picture {
  max-width: 96px;
}

.profile-picture-frame {
  margin-bottom: 20px;
  width: 96px;
  height: 96px;
  content-visibility: auto;
  border: solid rgba(150, 200, 30, 0.6);
  border-radius: 96px;
}

.user-menu {
  background-color: white;
  border-radius: 10px;
  border: solid lightgray 1px;
}

.user-menu-item {
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
}

.user-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.my-account {
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  border: solid lightgray 1px;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  user-select: none; 
}
