.chat-app-navbar {
  height: 98.5vh;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  padding-top: 5px;
  border: solid 1px;
  border-color: lightgray;
}

.chat-app-navbar-item {
  margin-bottom: 5px;
  padding: 2px;
}

.navbar-icon {
  width: 30px;
  height: 30px;
}

.active-navbar-item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 3px;
}

.avatar {
  max-width: 40px;
}

.avatar-frame {
  border: 1px;
  margin-bottom: 5px;
  border: solid rgba(150, 200, 30, 0.6);
  border-radius: 35px;
  content-visibility: auto;
  height: 40px;
  width: 40px;
}