@import url(../../friend-list/friend-item/friend-item.component.css);

.user-input-container {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.user-input {
  width: 100%;
  border-radius: 15px;
  padding-left: 10px;
  border: solid 1px lightgray;
  resize: none;
}

.user-input:focus {
  outline: none;
}

.image-input {
  margin-left: 10px;
  border-radius: 30px;
  content-visibility: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.image-input:hover {
  background-color: lightgray;
}

.conversation-settings-open {
  display: flex;
  align-items: center;
  justify-content: center;
  content-visibility: auto;
  border-radius: 32px;
  width: 32px;
  height: 32px;
}

.conversation-settings-open:hover {
  background-color: lightgray;
}

.conversation-settings {
  min-width: 400px;
  border: solid 2px darkgray;
  border-radius: 10px;
  background-color: white;
}

.members-container {
  padding: 15px;
  margin-bottom: 10px;
}
