@import url(../friend-item/friend-item.component.css);

.request-control-button-accept {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/icons/check-circle.svg");
}

.request-control-button-accept:hover {
  background-image: url("/assets/icons/check-circle-fill.svg");
}

.request-control-button-reject {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/icons/x-circle.svg");
}

.request-control-button-reject:hover {
  background-image: url("/assets/icons/x-circle-fill.svg");
}
