.user-menu {
  background-color: white;
  border-radius: 10px;
  border: solid lightgray 1px;
}

.user-menu-item {
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
}

.user-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
