<div class="friend-list-container">
  <div class="input-group mb-1">
    <div
      class="input-group-prepend notification-icon-frame"
      (click)="showRequest()"
    >
      <span class="input-group-text" id="basic-addon1">
        <img
          [src]="
            mode === 'request'
              ? '/assets/icons/person-square.svg'
              : ToMeRequest.length > 0
              ? '/assets/icons/bell-fill.svg'
              : '/assets/icons/bell.svg'
          "
          alt=""
          style="width: 24px"
      /></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
      (keyup.enter)="onEnter($event)"
      (keyup.backspace)="onBackspace($event)"
    />
  </div>
  <ul
    class="overflow-auto friend-list"
    (scroll)="scrollEnd($event)"
    [hidden]="mode !== 'friend'"
  >
    <li *ngFor="let item of FriendList">
      <app-friend-item [friendship]="item"></app-friend-item>
    </li>
  </ul>
  <ul
    class="overflow-auto friend-list"
    (scroll)="scrollEnd($event)"
    [hidden]="mode !== 'search'"
  >
    <li>
      <app-friend-item [friendship]="searchResult"></app-friend-item>
    </li>
  </ul>
  <div [hidden]="mode !== 'request'">
    <ul
      class="overflow-auto friend-list"
      style="height: 40%"
      (scroll)="scrollEnd($event)"
      *ngIf="ToMeRequest.length > 0"
    >
      <p class="ul-title">Friend request to me.</p>
      <li *ngFor="let item of ToMeRequest">
        <app-to-me-request-item [friendship]="item"></app-to-me-request-item>
      </li>
    </ul>
    <ul
      class="overflow-auto friend-list"
      style="height: 40%"
      (scroll)="scrollEnd($event)"
      *ngIf="FromMeRequest.length > 0"
    >
      <p class="ul-title">Friend request from me.</p>
      <li *ngFor="let item of FromMeRequest">
        <app-friend-item [friendship]="item"></app-friend-item>
      </li>
    </ul>
  </div>
</div>
