<div class="friend-list-container">
  <div class="input-group mb-1">
    <div
      class="input-group-prepend notification-icon-frame"
      (click)="showRequest()"
    >
      <span class="input-group-text" id="basic-addon1">
        <img
          [src]="
            mode !== 'friend'
              ? '/assets/icons/person-square.svg'
              : friendService.ToMeRequest.length > 0
              ? '/assets/icons/bell-fill.svg'
              : '/assets/icons/bell.svg'
          "
          alt=""
          style="width: 24px"
      /></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
      (keyup.enter)="onEnter($event)"
      (keyup.backspace)="onBackspace($event)"
    />
  </div>
  <router-outlet></router-outlet>
</div>
