<form>
  <div
    appDraggableComponent
    class="my-account"
    [class.failed]="error"
    draggable="true"
  >
    <div class="profile-picture-frame" (click)="openFileSelection()">
      <img
        src="{{
          tempAvatar
            ? 'data:image/jpeg;base64,' + tempAvatar
            : Image
            ? 'data:image/jpeg;base64,' + Image
            : '/assets/images/Classic_Outfit.png'
        }}"
        alt=""
        class="profile-picture"
      />
    </div>
    <div class="user-inf-item" *ngIf="!isEditingUsername">
      <span>Username:</span>
      <span>
        {{ tempUsername }}
        <img
          src="/assets/icons/pencil-fill.svg"
          (click)="editUsername()"
          alt=""
        />
      </span>
    </div>
    <input
      type="text"
      name="username"
      class="form-control custom-form-control"
      [(ngModel)]="tempUsername"
      [placeholder]="Self?.username"
      (focusout)="editUsername()"
      *ngIf="isEditingUsername"
      appAutoFocus
    />
    <div class="user-inf-item" *ngIf="!isEditingEmail">
      <span> Email: </span>
      <span>
        {{ tempEmail }}
        <img src="/assets/icons/pencil-fill.svg" (click)="editEmail()" alt=""/>
      </span>
    </div>
    <input
      type="text"
      name="email"
      class="form-control custom-form-control"
      [(ngModel)]="tempEmail"
      [placeholder]="Self?.email"
      (focusout)="editEmail()"
      *ngIf="isEditingEmail"
      appAutoFocus
    />
    <div class="user-inf-item" *ngIf="!isEditingPhone">
      <span> Phone number: </span>
      <span>
        {{ tempPhoneNumber }}
        <img src="/assets/icons/pencil-fill.svg" (click)="editPhone()" alt=""/>
      </span>
    </div>
    <input
      type="text"
      name="phoneNumber"
      class="form-control custom-form-control"
      [(ngModel)]="tempPhoneNumber"
      [placeholder]="Self?.phoneNumber"
      (focusout)="editPhone()"
      *ngIf="isEditingPhone"
      appAutoFocus
    />
    <div class="user-inf-item" *ngIf="!isEditingPassword">
      <span> Password: </span>
      <span>
        ****
        <img
          src="/assets/icons/pencil-fill.svg"
          (click)="editPassword()"
          alt=""
        />
      </span>
    </div>
    <input
      type="password"
      name="password"
      class="form-control custom-form-control"
      (input)="tempPassword = $event.target.value"
      placeholder="Password"
      (focusout)="editPassword()"
      *ngIf="isEditingPassword"
      appAutoFocus
    />
    <div>
      <button type="submit" class="btn btn-success me-2" (click)="onSave()">
        Save
      </button>
      <button (click)="closeMyAccount($event)" class="btn btn-danger">
        Close
      </button>
    </div>
  </div>
</form>
<input
  hidden
  #avatarInput
  type="file"
  (change)="onAvatarChange($event)"
  name="file"
/>
